@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

*,
body,
html {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: #000;
  width: fit-content;
  height: fit-content;
  background: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

:root {
  --primary: #219ebc;
  --slate-50: #f1f5f9;
  --slate-800:#1e293b;
  --slate-200:#cbd5e1;
  --text-slate: #1e293b;
}

.container {
  width: 48rem;
  height: 35rem;
  background: var(--slate-50);
  display: flex;
  justify-content: space-between;
  border: #1e293b5e solid 1px;
}

/**======= Side navigation ===========*/
.side_nav {
  width: 4.5rem;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 10px;
}

.side_nav button {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-size: 12px;
  font-weight: 800;
  border-radius: 10px;
  background: var(--slate-50);
  border: solid 1px var(--slate-200);
  cursor: pointer;
  transition: border 0.5s;
  outline: none;
}

.side_nav button:hover {
  border-color: var(--primary);
}

.side_nav button svg {
  height: 1.25rem;
  width: 1.25rem;
  stroke: var(--slate-800);
}

.side_nav .active svg {
  stroke: var(--primary);
}
.side_nav .active {
  border-color: var(--primary);
}

/**======= Main Body ===========*/
.body_container {
  background: inherit;
  height: 100%;
  width: calc(100% - 4.5rem);
}

/*** ============== Tab One ====================*/
#tabOne {
  width: 100%;
  height: 100%;
  padding-top: 2.5rem;
}

#tabOne h1 {
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  color: var(--slate-800);
}

.collectionSearchBar {
  height: 2.5rem;
  width: 80%;
  margin:1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collectionSearchBar label{
  height: 100%;
  width: 70%;
  overflow: hidden;
}

.collectionSearchBar label input{
  height: 100%;
  width: 100%;
  border-radius:30px;
  background: #fff;
  border: solid 1px var(--slate-200);
  outline:none;
}

.collectionSearchBar label input